.card-deck {
  justify-content: center;
  
  .card{
    position: relative;
    margin-top: 30px;
    min-height: 448px;
    min-width: 250px;
    max-width: 250px;
    
    .card-img-top{
      transition: all .2s ease;
      filter: grayscale(0%);
    }

    h5 {
      font-size: 16px;
    }
    h6 {
      font-size: 13px;
    }
    .card-img-top {
      height: 18rem;
      width: 100%;
    }
    
    .btn-dark {
      opacity: 0;
      box-shadow: 3px 3px 5px -1px #424d59;
      transition: opacity ease-in-out .2s;
      position: absolute;
      right: 4px;
      top: 4px;
      border-radius: 50%;
      height: 42px;
      width: 42px;
      
      fa{
        position: relative;
        left: 2px;
      }
    }
    
    &:hover{
      .card-img-top {
        filter: grayscale(70%);
      }
      .btn-dark {
        opacity: 1;
      }
    }
  }
}
