<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Book Case</h1>
    <p class="lead">A New Website where you can find any book, old or new, and start reading it right away in your device.</p>
    <button class="btn btn-lg btn-dark" routerLink="/books">Check Our Books Now</button>
  </div>
</div>
<div class="search-wrp d-flex">
  <div class="container">
    <div class="form-row justify-content-center">
      <div class="col-6">
        <input type="text" placeholder="Search Books" class="form-control"/>
      </div>
      <div class="col-1">
        <button class="btn">Search <i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="pop-wrp">
  <div class="container">
    <h2 class="text-center">Coming This Month</h2>
    <div class="row mt-4">
      <div class="col">
        <img src="https://images.gr-assets.com/books/1527720962l/38355410.jpg" alt="cover" class="mx-auto d-block"/>
      </div>
      <div class="col">
        <h3>Elevation</h3>
        <h4>Stephen King</h4>
        <p>The latest from legendary master storyteller Stephen King, a riveting, extraordinarily eerie, and moving story about a man whose mysterious affliction brings a small town together—a timely, upbeat tale about finding common ground despite deep-rooted differences.</p>
        <p>Although Scott Carey doesn’t look any different, he’s been steadily losing weight. There are a couple of other odd things, too. He weighs the same in his clothes and out of them, no matter how heavy they are. Scott doesn’t want to be poked and prodded. He mostly just wants someone else to know, and he trusts Doctor Bob Ellis.</p>
      </div>
    </div>
  </div>
</div>
<div class="check-wrp d-flex">
  <div class="container">
    <div class="col text-center">
      <h2>
        Browse Through Our Complete Library
      </h2>
    </div>
  </div>
</div>